<div class="course">
  <div class="left">
    <div class="information">
      <h1 class="title">Course Information</h1>
      <div class="info-card">
        <div class="info-card__top">
          <h2>
            Algebra
          </h2>
        </div>
        <div class="info-card__content">
          <h3>
            Description:
          </h3>
          <p>
            Is a branch of mathematics that studies the properties of numbers, such as their relationships to each other, and the quantities that they are made of.
          </p>
        </div>
      </div>
    </div>

    <div class="vertical-space"></div>

    <div class="items">
      <h1 class="title">Course Items</h1>
      <div class="card item-card">
        <span>
          Item
        </span>
        <div class="item-card__content">
          <div class="item-card__left">
            <h3>
              Video
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
          <div class="item-card__right">
            <button mat-stroked-button content="center" color="primary">Video</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="right">
    <div class="progress">
      <h1 class="title">Course Progress</h1>
      <div class="card">
        <h1 class="progress-card__title">81%</h1>
        <mat-progress-bar class="progress-bar" mode="buffer" [value]="80"></mat-progress-bar>
      </div>
    </div>

    <div class="vertical-space"></div>

    <div class="competences">
      <h1 class="title">Competences Includes</h1>
      <div class="card group__tags">
        <span class="tags">gaadadadasd adsadaaa</span>
        <span class="tags">dadasdadas dasdada</span>
        <span class="tags">gaaaa</span>
        <span class="tags">dadadadad</span>
        <span class="tags">gaaaa</span>
        <span class="tags">gaaaa</span>
        <span class="tags">gaaaa</span>
        <span class="tags">gaadadas dasdasdaa</span>
        <span class="tags">gaaaa</span>
        <span class="tags">dadadasdddddads</span>
        <span class="tags">gaaaa</span>
        <span class="tags">gaaaa</span>
        <span class="tags">gaaaa</span>
        <span class="tags">gaaaa</span>
        <span class="tags">gaaaa</span>
        <span class="tags">gaadadas</span>
        <span class="tags">gaaaa</span>
        <span class="tags">gaaaa</span>
        <span class="tags">gaaaa</span>
        <span class="tags">gaaaa</span>
        <span class="tags">gaaaa</span>
      </div>
    </div>
  </div>
</div>

