<p>
  <mat-toolbar class="toolbar-title">
    <span class="title">Announcement for teachers</span>
  </mat-toolbar>
</p>

<mat-card class="mat-elevation-z4 title-input">
  <mat-form-field class="title-input2" appearance="fill">
    <input matInput placeholder="Title" autocomplete="off">
  </mat-form-field>
  <mat-form-field class="title-input2" appearance="fill">
    <input matInput placeholder="Description" autocomplete="off">
  </mat-form-field>
  <button class="button-sub" mat-raised-button color="primary">SUBMIT</button>
</mat-card>


<p>
  <mat-toolbar class="toolbar-title">
    <span class="title">Announcement confirmed</span>
  </mat-toolbar>
</p>

<mat-card class="announcement-complete" *ngFor="let item of announcement">
  <mat-toolbar style="background: white">
    <span class="title-examples"><mat-icon class="icon">people</mat-icon> {{item.title}} Example title </span>
  </mat-toolbar>
  <div style="display:flex; justify-content:space-between; align-items: center">
    <span class="title-examples" style="margin-left: 20px"> Example description {{item.description}}</span>
    <button mat-fab color="primary" mat-mini-fab>
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-card>
